<ul class="nav nav-tabs ml-auto" role="tablist">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'clients' %}">Клиенты</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'orders_history' %}">Заказы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'services' %}">Услуги</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'stats' %}">Статистика</a>
  </li>
</ul>
