{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <title>{{ title|title }}</title>
  </head>

  <body>
    <header>
      <div class="container-fluid">
	<nav class="navbar navbar-expand-lg">
	  <span><a class="navbar-link" href="{% url 'main' %}">LZTlab</a></span>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% include 'includes/menu.html' %}
          </div>
	</nav>
      </div>
    </header>
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-2">
            <nav id="sidebar">
              {% include 'includes/sidebar.html' %}
            </nav>
          </div>
          <div class="col">
            <div class="container">
                  {% block content %}
                  {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </main>
    {% block js %}    
    {% endblock%}
  </body>
</html>
