{% extends 'lztmain/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1>Онлайн-журнал зуботехнической лаборатории</h1>
    <img src="{% static 'img/images.jpeg' %}" alt="tests">
</div>
{% endblock %}