{% extends 'lztmain/base.html' %}

{% block content %}
<form action="" method="post">
  <div class="row">
    {% csrf_token %}
    <div class="col-12">
      {{form.order_performer.label_tag}}
      {{form.order_performer}}
    </div>
    <div class="col-6">
      {{form.order_service.label_tag}}
      {{ form.order_service }}
    </div>
    <div class="col-6">
      {{form.order_note.label_tag}}
      {{ form.order_note }}
    </div>
    <div class="col-12">
      {{form.order_date.label_tag}}
      {{ form.order_date }}
    <input class="btn btn-primary btn-md btn-block"
	   name="service" 
	   type="submit" 
	   value="Ok"
	   />
    </div>
  </div>
</form>
{% endblock %}
