{% extends 'lztmain/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Тут должны быть графики и статистика</h1>
    <canvas id="myChart" width="100" height="100"></canvas>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/Chart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/test.js' %}"></script>
{% endblock %}
